fastapi
uvicorn[standard]
python-dotenv

sqlalchemy
psycopg2-binary


passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]


python-multipart


# lets us save uploaded files asynchronously (efficiently, without blocking other requests while a large file is being written to disk).

aiofiles

pypdf
python-docx

pydantic[email]


sentence-transformers

faiss-cpu
numpy

rank-bm25

groq